/* definição por tipo/nome do elemento */
			
body {
	background: #000000;
	color: #FFFFFF;
	font-size: 20px;
	padding:0px;
	margin:0px;
}

p {
	border:1px dashed #FFFFFF;
	margin:10px;
	padding:10px;
}

/* definição por id do elemento */

#bloco02 {
	background: green;
	color: yellow;
	border: 3px solid #FFFFFF;
}

/* definição usando classes */

.p_paragrafoInicial {
	font-size:26px;
	font-style:italic;
}

.fundoAzul {
	background:blue;
}

/* css aula 37, 38 */

.div_geral {
	width:940px;
	background:green;
	margin-left:auto;
	margin-right:auto;
	display:table;
}

.div_celulaVermelha {
	background:red;
}

.div_colunaEsquerda {
	width:50%;
	float:left;
}

.div_colunaDireita {
	width:50%;
	float:right;
}

.div_colunaCentral {
	width:100%;
	border-top:1px solid #FFFFFF;
	float:left;
}

.div_margemInferior {
	padding: 20px;
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid #FFFFFF;
}